.header{
    padding-top: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease;
    z-index: 1000;
    background-color: var(--color-light);
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 40px;
        padding: 0;
        padding-bottom: 16px;
        border-bottom: 1px solid var(--color-border);
    }

    &__menu{
        margin-right: auto;
        font-size: 16px;

        &-list{
            display: flex;
            align-items: center;
            column-gap: 24px;
        }

        &-link{
            position: relative;
            display: inline-flex;
            align-items: center;
            height: 48px;
            cursor: pointer;

            @include hover{
                color: var(--color-accent);
            }
        }
    }

    &__contact{
        display: flex;
        flex-direction: row;
        gap: 24px;

        &-social{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }
    }

    &__button{
        height: 40px;
    }
}

.header.hide {
  transform: translateY(-100%);
}