.hero{
    padding-top: 60px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__inner{
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    &__body{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 52px;
        height: 444px;
        left: 0px;
    }

    &__text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        height: 174px;

        &-title{
            width: 760px;
            height: 110px;
            font-family: var(--font-family-large-text);
            font-style: normal;
            font-weight: 700;
            font-size: 44px;
            line-height: 55px;
            text-transform: uppercase;
            color: var(--color-dark);
        }

        &-description{
            width: 614px;
            height: 48px;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            color: var(--color-dark);
        }
    }

    &__rating{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        width: 606px;
        height: 64px;
    }

    &__button{
        width: 324px;
        height: 64px;
        border-radius: var(--border-radius);
        font-size: 20px;
    }

    &__reviews{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
        width: 258px;
        height: 48px;

        &-first{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            width: 258px;
            height: 23px;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            color: var(--color-dark);
        }

        &-last{
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            color: var(--color-grey-description-alt);
        }
    }

    &__plus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px 32px;
        gap: 2px;
        height: 102px;
        background: var(--color-grey-addition);
        border-radius: 16px;

        &-title{
            height: 40px;
            font-family: var(--font-family-large-text);
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            color: var(--color-dark);
        }

        &-description{
            height: 20px;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: var(--color-dark);
        }
    }

    &__percent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px 32px;
        gap: 2px;
        height: 102px;
        background: var(--color-accent);
        border-radius: 16px;

        &-title{
            height: 40px;
            font-family: var(--font-family-large-text);
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            color: var(--color-light);
        }

        &-description{
            height: 20px;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: var(--color-light);
        }
    }

    &__advantages{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        width: 606px;
        height: 102px;
    }

    &__image{
        margin-left: auto;
        position: relative;
        right: 500px;

        &-car{
            position: absolute;
            transform: scale(-1, 1);
            top: -400px;
            right: 800px;
            width: 2000px;
            left:0px;
            bottom: 0px;
        }

        &-block{
            position: relative;
            width: 596px;
            top: 0px;
            background: var(--color-grey-addition);
            border-radius: 20px 0px 0px 20px;
            right: -60px;
            left:550px;

        }
    }
}