.icon{
    &__wp{
        width: 32px;
        height: 32px;
        color: var(--color-type-green);
        @include hover{
            color: var(--color-type-green-alt);
        }
    }

    &__tg{
        width: 32px;
        height: 32px;
        color: var(--color-type-blue-alt);
        @include hover{
            color: var(--color-type-blue-alt);
        }
    }
}